target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
#.idea/modules.xml
#.idea/jarRepositories.xml
#.idea/compiler.xml
#.idea/libraries/
## Default ignored files
#.idea/shelf/
#.idea/workspace.xml
## Editor-based HTTP Client requests
#.idea/httpRequests/
## Datasource local storage ignored files
#.idea/dataSources/
#.idea/dataSources.local.xml
.idea/
*.iws
*.iml
*.ipr